@charset"utf-8";
body, p, li, a { font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif };
h1, h2 { font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif };
body { margin:0;padding:0;}
body { margin-left:2px; padding-left:2px;}

#hd {
	//position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : auto;
	margin : 0;
	padding : 0.3em 0.5em;
	text-align : left;
	background : #2E9AFE;
	white-space: nowrap;
}

#hd h1 {
	color : white;
	font-size:1.0em;
	display: inline;
}

#hd a {
	color : white;
	font-size:0.8em;
	display: inline;
}

#hd span {
	color : white;
	font-size:0.8em;
	display: inline;
}

#ft {
	color : white;
	position : auto;
	bottom : 0px;
	width : 100%;
	height : auto;
	margin-top : 1.0em;
	padding : 0.3em 0.5em;
	background-color : #2E9AFE;
	//border-top : 1px solid #888;
	z-index : 0;
	font-size:0.8em;
}

#pageName {
	font-size:0.8em;
}

#logo,#bd {
	width : 650px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}

#logo h1 {
	color : white;
	/* font-size:36pt; */
	display: inline;
}

#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}

#logo, #logo h1 { margin-top : 0; padding-top : 0;}

#bd {
	width : auto;
	height : auto;
	position : absolute;
	top : 30px;
	left : 10px;
	margin-top : 30px;
	margin-left : 30px;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #00b8ff;
	-webkit-box-shadow: 0px 0px 10px #00b8ff;
	box-shadow: 0px 0px 10px #00b8ff;
}

a, a:visited, a:hover, a:active {
	color : #6493D2;
}

p {
	margin-top : 0.4em;
	margin-bottom : 0.4em;
}

h1 {
	margin-top : 0.2em;
	margin-bottom : 0.1em;
	margin-left : 0px;
	font-size:1.2em;
	//color:#FF5500;
}

h2 {
	margin-top : 0.1em;
	margin-bottom : 0.1em;
	margin-left : 0px;
	font-size:0.8em;
	/* color:#FF5500; */
}

/* ModalWindow Titleで使用される 2015.6.2時点でh3は他では使用していない*/
h3 {
	padding : 0; margin:0;
	font-size:1.0em;
	font-weight:lighter; /* 効かない */
	color:#092E67;
}

button.top-button {
	width: 100%;
	font-size: 1.5em;
	/* text-align: ccenter; */
	/* padding: 10px; */
	/* border: 1px solid #225588; */
	/* -moz-border-radius: 10px; */
	/* -webkit-border-radius: 10px; */
	/* border-radius: 10px; */
}

button.top-button:hover{
	background-color: aqua;
}

button.small-button {
	//width: 300px;
	//font-size: 1.4em;
	text-align: ccenter;
	padding: 3px 10px 3px 10px; /* top right bottom left */
	border: 1px solid #225588;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

button.small-button:hover{
	background-color: aqua;
}

.entityListTable {
 width: 100%;
 table-layout: auto;
 border-collapse: collapse;
 }
 
 .entityListTable th{
 //width: 25%;
 padding: 6px;
 font-size: 1.0em;
 text-align: left;
 vertical-align: center;
 color: #333;
 background-color: #eee;
 border: 1px solid #b9b9b9;
 }
 
 .entityListTable td{
 padding: 2px;
 text-align: left;
 vertical-align: center;
 //background-color: #fff;
 border: 1px solid #b9b9b9;
 }
 
 .entityListTable tr:nth-child(even){
 background: #eee;
 }

 panel {
  width: 500px;
}
 
#panel > dt {
  border-bottom: solid 1px white;
  //background-color: #00BCD4;
  background-color: #5858FA;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}
 
#panel > dd {
  border: solid 1px Silver;
  margin: 0px;
  padding: 10px;
}

label {
  display: block;
  //float: left;
  //width: 200px;
}

.engineerList {
	width: 100%; /* テーブルの横幅 */
	border-collapse: collapse; /* 枠線の表示方法 */
	border: 1px #1C79C6 solid; /* テーブル全体の枠線（太さ・色・スタイル） */
}

.engineerList TD {
	border: 1px #1C79C6 solid; /* セルの枠線（太さ・色・スタイル） */
	padding: 5px; /* セル内の余白 */
}

button.pagination-button {
	text-align: ccenter;
	margin : 1px 2px;
	text-align: ccenter;
	padding: 3px 10px 3px 10px; /* top right bottom left */
	border: none;
}

/*
button.pagination-button:hover{
	background-color: aqua;
}
*/

