.f12 {
	font-size: 12px;
	line-height: 16px;
}
td {
	font-size: 12px;
	line-height: 14px;
}
a:visited {
	color: #990099;
}
.corsename {
	font-size: 14px;
	line-height: 18px;
	color: #FF0000;
	font-weight: bold;
}
.f14 {
	font-size: 14px;
	line-height: 18px;
}
.f16 {
	font-size: 16px;
	line-height: 22px;
}
.f18 {
	font-size: 18px;
	line-height: 26px;
}
.f36 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	line-height: 45px;
	font-weight: bolder;
}
